.App {
  background: linear-gradient(
    120deg,
    rgb(252, 115, 156) 0%,
    rgb(102, 167, 241) 86%
  );
  padding: 50px;
}

.App h1 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
