.Photos {
  background: #fff;
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  max-width: 800px;
  padding: 20px 30px;
}

.Photos .photo {
  margin: 10px;
}

@media (max-width: 768px) {
  .Photos {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .Photos {
    padding: 14px 20px;
  }
}

@media (max-width: 300px) {
  .Photos {
    padding: 8px 14px;
  }
}
