.Search .search-engine form {
  background: #fff;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px 30px;
}

.Search .search-engine form label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Search .search-engine form button {
  background: none;
  border: none;
  height: 16px;
  width: 16px;
  position: relative;
  right: 10px;
}

@media (max-width: 400px) {
  .Search .search-engine form {
    padding: 14px 20px;
  }
}
